.MessageBubble {
	img.Avatar {
		width: 32px;
		height: 32px;
		border-radius: 100%;
	}

	.MessageContent {
		margin-top: 0;

		code {
			font-family: 'Fira Code', monospace;
			background: #f4f4f4;
		}

		strong {
			font-weight: bold;
		}

		em {
			font-style: italic;
		}
	}

	.MessageActions {
		button {
			margin: 0;
		}
	}

	> * + * {
		margin-top: 0.75rem;
	}
}
