.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	header,
	main,
	footer {
		display: block;
		margin: 0;
	}

	header,
	footer {
		padding: 0.75rem;
		background: white;
	}

	header {
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 0.25rem;
			background: #2d4e64;
			content: '';
		}
		flex-shrink: 0;

		background: white;
		border-bottom: 1px solid #ddd;
	}

	main {
		flex-basis: 100px;
		//overflow: auto;
		flex-grow: 1000;
		overflow: hidden;

		ul {
			padding: 0.75rem;
		}

		ul li {
			display: block;
			padding: 0.75rem;
			background: white;
			border-radius: 0.75rem 0.75rem 0.75rem 0;

			+ li {
				margin-top: 0.75rem;
			}
		}
	}

	footer {
		flex-shrink: 0;
		height: auto;
		border-top: 1px solid #ddd;
	}
}
