:root {
	font-size: 14px;
	font-family: sans-serif;
}

textarea {
	font: inherit;
	resize: none;

	&[uxp-quiet] {
		border: none;
		border-bottom: 2px solid #ddd;
	}
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	padding: 0.5rem 1rem;
	font-weight: bold;
	background: transparent;
	border: 1px solid black;
	border-radius: 1.25rem;

	&[uxp-variant='cta'] {
		color: white;
		background: #1473e6;
		border: 2px solid #1473e6;
	}

	&[uxp-variant='primary'] {
		color: #505050;
		border: 2px solid #505050;
	}
}
