/* Fix weird UXP standard margin of p tag */
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
select,
button {
	margin-right: 0;
	margin-left: 0;
}

.padding {
	padding: 0.75rem;
}

.padding-horiz {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.padding-vert {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

label,
input {
	display: block;
	width: 100%;
}
